Package: getnewip
Version: 2.2
Architecture: all
Maintainer: https://gitlab.com/BobyMCbobs
Depends: netcat, curl, bash, openssh-client
Installed-Size: 48.2 kB
Section: main
Priority: optional
Description: Sync dynamic public IP address of GNU/Linux servers with the hostname in a user's SSH config via Dropbox
