Package: getnewip
Version: 2.1.2
Architecture: all
Maintainer: https://gitlab.com/BobyMCbobs
Depends: netcat, curl, bash, openssh-client
Installed-Size: 48.2 kB
Section: main
Priority: optional
Description: Download IP from dropbox to place in SSH config
