[Unit]
Description=Sync dynamic public IP address of GNU/Linux servers with the hostname in a user's SSH config via Dropbox.
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/getnewip -d -a
Restart=on-abort

[Install]
WantedBy=multi-user.target
