#!/bin/bash

##GET NEW IP CONFIG FILE

#device on setup network that's always there ## i.e: 192.168.1.x
localrefdevice=""
#ports that that device has ## Must be two ports.
port1=
port2=
#seconds of loop ## 3600 is one hour
looptime=3600
#server to check internet for -- make sure it's an external address. ## 8.8.8.8 is default
pinging_server="8.8.8.8"
#folder in dropbox to download IP for ## i.e: IP
db_folder=""
#purpose/description ## i.e: home
purpose_name=""
#related to purpose, but for program name ## i.e: home
program_name=""
#ssh config to modify
ext_ssh_config=""
#directory to store ## i.e: '/usr/local/bin', $HOME/bin
ipproglocation="/usr/local/bin"
#dropbox key #OAUTH_ACCESS_TOKEN
dropbox_key=""
#enable systemd service ## y | n
systemd_service_option="y"

#format for name
prog_name="getnewip-$program_name"
#storing it
prog_name_location="$ipproglocation/$prog_name"
